.badge-container {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    gap: 8px;
    z-index: 2;
}

.badge-container-status {
    display: flex;
    top: 32px;
    right: 32px;
}

.badge-container-info {
    display: flex;
    top: 32px;
    left: 32px;
}

.badge-container__badge {
    display: flex;
    border-radius: 8px;
    padding: 8px;
    color: var(--primary-light);
    font-size: 14px;
    line-height: 20px;
    height: 36px;
}

.badge-container__badge_vegan {
    background-color: #1DAA0F;
}

.badge-container__badge_vegan::after {
    display: flex;
    content: url('../public/icons/20/badge-vegan.svg');
}

.badge-container__badge_spicy {
    background-color: #FC7D04;
}

.badge-container__badge_spicy::before {
    display: flex;
    content: url('../public/icons/20/badge-spicy.svg');
}

.badge-container__badge_seafood {
    background-color: #0094E4;
}

.badge-container__badge_seafood::before {
    display: flex;
    content: url('../public/icons/20/badge-seafood.svg');
}

.badge-container__badge_info {
    background-color: rgba(0, 0, 0, 0.6);
}

.badge-container__badge_available {
    background-color: #FEDD2C;
    color: var(--primary-dark);
}

.badge-container__badge_completed {
    background-color: #727272;
    color: var(--primary-light);
}