.card {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
}

.card__image-wrapper {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
}

.card__image {
    width: 304px;
    height: 304px;
}

.card__image-other {
    width: 640px;
    height: 360px;
    object-fit: cover;
}

.card__overlay {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    z-index: 1;
}

.card__overlay_gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.card__overlay > h3 {
    align-self: end;
    color: var(--text-primary-light);
}

.card__overlay-title {
    padding: 16px;
    font-size: 24px;
    line-height: 32px;
}

.card__overlay-title-other {
    padding: 32px;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card-text__title {
    font-size: 18px;
    line-height: 24px;
}

.card-text__description {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-secondary-dark);
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;

}

.card__price {
    padding: 16px 24px;
    background-color: var(--background-gray);
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border-radius: 16px;
}

.badge-container {
    position: absolute;
    display: flex;
    top: 8px;
    right: 8px;
    gap: 8px;
    z-index: 2;
}

.badge-container-status {
    display: flex;
    top: 32px;
    right: 32px;
}

.badge-container-info {
    display: flex;
    top: 32px;
    left: 32px;
}

.badge-container__badge {
    border-radius: 8px;
    padding: 8px;
    color: var(--text-primary-light);
    font-size: 14px;
    line-height: 20px;
}

.badge-container__badge_vegan {
    background-color: #1DAA0F;
}

.badge-container__badge_vegan::before {
    display: flex;
    content: url('../public/icons/20/badge-vegan.svg');
}

.badge-container__badge_spicy {
    background-color: #FC7D04;
}

.badge-container__badge_spicy::before {
    display: flex;
    content: url('../public/icons/20/badge-spicy.svg');
}

.badge-container__badge_seafood {
    background-color: #0094E4;
}

.badge-container__badge_seafood::before {
    display: flex;
    content: url('../public/icons/20/badge-seafood.svg');
}

.badge-container__badge_info {
    background-color: rgba(0, 0, 0, 0.6);
}

.badge-container__badge_available {
    background-color: #FEDD2C;
    color: var(--text-primary-dark);
}

.badge-container__badge_completed {
    background-color: #727272;
    color: var(--text-primary-light);
}