.card {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
}

.card__image-wrapper {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
}

.card__image {
    width: 304px;
    height: 304px;
}

.card__image-other {
    width: 640px;
    height: 360px;
    object-fit: cover;
}

.card__overlay {
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    z-index: 1;
}

.card__overlay_gradient {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
}

.card__overlay > h3 {
    align-self: end;
    color: var(--primary-light);
}

.card__overlay-title {
    padding: 16px;
    font-size: 24px;
    line-height: 32px;
}

.card__overlay-title-other {
    padding: 32px;
    font-size: 32px;
    line-height: 40px;
    text-wrap: balance;
}

.card-text {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card-text__title {
    font-size: 18px;
    line-height: 24px;
}

.card-text__description {
    font-size: 16px;
    line-height: 24px;
    color: var(--secondary-dark);
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em;
}

.card__price {
    padding: 16px 24px;
    background-color: var(--background-gray);
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    border-radius: 16px;
    transition: color .2s ease-out, background-color .2s ease-out;
}

.card__price:hover {
    color: var(--background-dark);
    background-color: var(--hover-light);
}
