.header {
    min-width: 1440px;
    background: linear-gradient(90deg, #FEDD2C 0%, #F9C201 100%);
}

.header__content {
    margin: 0 auto;
    width: 1440px;
    padding: 16px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.other-info {
    display: flex;
    align-items: center;
    gap: 64px;
}

.user-activity {
    display: flex;
    gap: 16px;
}

.user-activity__button {
    display: flex;
    padding: 10px 14px;
    border: 2px solid var(--primary-dark);
    border-radius: 16px;
    background-color: transparent;
    transition: color .2s ease-out, background-color .2s ease-out, border .2s ease-out;
}

.user-activity__button:hover {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

.user-activity__button_secondary {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

.user-activity__button_secondary:hover {
    border: 2px solid var(--primary-light);
    background-color: var(--primary-light);
    color: var(--primary-dark);
}

.user-activity__button-icon {
    width: 24px;
    height: 24px;
}

