.header {
    background: linear-gradient(90deg, #FEDD2C 0%, #F9C201 100%);
}

.header__content {
    margin: 0 auto;
    width: 1440px;
    padding: 16px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.navigation__item {
    color: var(--text-secondary-dark);
    font-size: 16px;
    line-height: 24px;
}

.other-info {
    display: flex;
    align-items: center;
    gap: 64px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-style: normal;
}

.contacts__phone {
    color: var(--text-secondary-dark);
    font-size: 18px;
    line-height: 24px;
}

.contacts__workings-hours {
    color: var(--text-secondary-dark);
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
}

.user-activity {
    display: flex;
    gap: 16px;
}

.user-activity__button {
    display: flex;
    padding: 10px 16px;
    border: 2px solid var(--text-primary-dark);
    border-radius: 16px;
    background-color: transparent;
    cursor: pointer;
    /*height: 48px;*/
}

.user-activity__button-icon {
    width: 24px;
    height: 24px;
}

.user-activity__button_secondary {
    background-color: var(--text-primary-dark);
}