@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,400..600&display=swap');

@import url('vars.css');
@import url('_header.css');
@import url('_banner.css');
@import url('_section.css');
@import url('_card.css');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: var(--text-primary-dark);
    box-sizing: border-box;
    border: none;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    word-spacing: 1px;
}

ul, li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}